body {
    background-color: #A2FF86;
  }
  
  .blackbg {
    background-color: #A2FF86;
  }
  
  h4 {
    color: #1B6B93;
    font-size: 50px;
    font-family: "Pathway Extreme", sans-serif;
    text-align: center;
  }
  
  label {
    color: #1B6B93;
    font-family: "Source Code Pro", monospace;
  }

  input {
    width: 25%;
  }
  

  select {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  /* Style the arrow icon */
  select::-ms-expand {
    display: none;
  }
  
  select::after {
    content: '\25BC';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    pointer-events: none;
  }
  
  /* Style the selected option */
  option[selected] {
    font-weight: bold;
  }
  
  /* Style the dropdown when it's open */
  select:focus {
    outline: none;
    box-shadow: 0 0 5px #9ecaed;
    border-color: #9ecaed;
  }
  
  .main-text{
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
  
  p {
    color: #1B6B93;
    font-weight: bold;
    font-family: "Source Code Pro", monospace;
  }
  
  #banner {
    height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .flex-container1,.flex-container2 {
    display: flex;
  }

  .flex-container3 {
    display: flex;
  }
  
  .flex-container1-child,.flex-container2-child,.flex-container3-child{
    flex: 1;
  }

  form {
    align-items: center;
    text-align: center;
  }
  
  #button {
    /* background-color: aqua; */
    size: 500px;
    color: white;
    align-items: center;
    text-align: center;
    padding: 15px 32px;
  }
  
  #btn-text {
    background-color: rgb(92, 91, 91);
    font-size: 20px;
    color: white;
    padding: 10px 20px;
  }
  
  #text-clubs {
    align-items: center;
    color: white;
    font-family: "Source Code Pro", monospace;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo-btn {
    color: white;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(228, 223, 223, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(255, 255, 255, 0.19);
  }
  
  .text-club {
    padding-top: 25px;
    margin: auto;
    text-align: center;
    max-width: 75%;
  }
  
  .submit-btn {
    background-color: #1B6B93;
    color: white;
    padding: .8%;
    width: 18%;
    font-family: "Source Code Pro", monospace;
    font-size: 22px;
  }