<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Document</title>
</head>

<body>
    <div id="text-clubs" class="row">
        <div class="col-8">
            <div class="grid-container">
                <h4> <a style="text-decoration: none; color:white;" href="/club/{{club['id']}}">{{club['clubname']}}</a></h4>
                {% if 'country' in club %}
                <p>{{club['country']}}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <button class="logo-btn" id="logo-spec"> 
                <a href="https://en.wikipedia.org/wiki/{{club['clubname']}} " target="
                _blank"> <img style="height: 100px; width:100px; object-cover:fit; background-color:white;" src="/static/{{club['logo']}}" alt=""></a>
            </button>
        </div>
    </div>
    <hr>
    </div>

</body>

</html>